body
{
    min-height: 100vh;
    background: rgb(189, 189, 189);
    color: black;
    text-align: center;
    font-family: "verdana" ;
    font-size: 25px;
    margin: 0;
    padding: 0;
}
#Cabecera
{
    /*background: url("../Imagenes/capsula.jpg") no-repeat center center;*/
    background: #113910;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 1);
    color: whitesmoke;
    font-weight: bold;
    font-size: 1cm;
    margin: 0;
    padding: 1cm 0 1cm 2cm;

}

#Cabecera #logo
{
    width: 100px;
    vertical-align: middle;
}
#Cabecera #tagline
{
    padding: 10px 50px 20px;
    font-weight: normal;
    font-size: 0.7cm;
    font-style: italic;

}


#container
{
    max-width: 100%;
    padding: lem;
    text-align: center;
    border: 5px solid #000;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 1);
}

#container h1
{
    font-size: 35px;
    text-align: center;
}

#post
{
    background: white;
    padding: lem;
    text-align: justify;
}

#footer
{
    background: #113910;
    color: whitesmoke;
    text-align: center;
    padding: 0.5cm;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 1);
}